@media (min-width: 1440px) {
  .menage-events-btn {
    display: none;
  }
  #event-manager {
    display: inline-block;
  }
}

.menage-events-btn {
  position: fixed;
  top: 10px;
  z-index: 1020;
  right: 100px;
  right: auto;
}
