<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 order-md-2">
      <button class="btn btn-primary menage-events-btn" type="button" data-toggle="collapse" data-target="#event-manager" aria-expanded="false" aria-controls="event-manager">
        Manage Events
      </button>
      <app-events-manager class="collapse" id="event-manager"></app-events-manager>
    </div>
    <div class="col-sm-12 col-md-8 order-md-1">
      <app-events-list></app-events-list>
    </div>
  </div>
</div>
