.user-calendar {
  background: #545454;
  color: white;
  padding: 25px;
  margin-top: 10px;
  box-shadow: 4px 4px 3px 2px #808080e0;
}

.calendar-title {
  color: #d6d2d2;
}

.calendar-today {
  background: #749a54;
  padding: 7px;
  font-size: 14px;
}

.calendar-today p {
  padding: 0;
}

.calendar-toggle-arrow {
  text-align: center;
  margin-top: 10px;
}

.calendar-item-title {
  margin: 0;
}

.today-events {
  color: #545454;
  font-weight: bold;
}

.today-date {
  margin-left: 22px;
}

.other-signed-in-events {
  font-size: 14px;
  margin-top: 10px;
}

.calendar-event-name {
  display: inline-block;
  margin-right: 10px;
}

.event-detail-icon {
  cursor: pointer;
}

.calendar-toggle-icon {
  cursor: pointer;
}
