<div class="carousel-item">
  <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
  <div class="container">
    <div class="carousel-caption text-left" >
      <h2> {{eventItem.name}}</h2>
      <h4> {{eventItem.eventDate}}</h4>
      <h5> {{eventItem.description}}</h5>
      <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up</a></p>
    </div>
  </div>
</div>
