<form [formGroup]="addressForm">
  <div class="form-group">
    <label>Shop Address</label>
    <input
      class="form-control"
      type="text"
      name="street"
      formControlName="street"
      maxlength="85"
      required
    />
    <label>Building Number</label>
    <input
      class="form-control"
      type="number"
      name="buildingNumber"
      formControlName="buildingNumber"
      maxlength="5"
      required
    />
    <label>Apartment Number</label>
    <input
      class="form-control"
      type="number"
      name="apartmentNumber"
      formControlName="apartmentNumber"
      maxlength="5"
      required
    />
    <label>Post Code</label>
    <input
      class="form-control"
      type="text"
      name="postCode"
      formControlName="postCode"
      maxlength="6"
      required
    />
    <label>City Name</label>
    <input
      class="form-control"
      type="text"
      name="cityName"
      formControlName="cityName"
      maxlength="35"
      required
    />
  </div>
</form>
<div class="form-group">
  <button type="submit" class="btn btn-primary" (click)="submitAddress()">
    Submit
  </button>
</div>
