<div class="row">
  <div class="col-md-8">
    <div class="card event-item {{ 'event-' + eventItem._id }}">
      <img src="{{ 'http://localhost:3000/' + eventItem.eventImage }}" class="card-img-top" alt="{{ eventItem.name }}"/>
      <div class="card-body">
        <h4 class="card-title">{{ eventItem.name }}</h4>
        <h6>{{ 'event date: ' + formatDate(eventItem.eventDate) }}</h6>
        <h6>{{ 'event organiser: ' + eventItem.owner.username }}</h6>
        <p class="card-text">{{eventItem.description}}</p>
        <hr>
        <div class="manage-event-options">
          <button
            *ngIf="authService.loggedIn() && !checkUserIdInList(eventItem.participants)"
            (click)="signInToEvent()" class="btn btn-primary">
            Sign in
          </button>
          <button
            *ngIf="authService.loggedIn() && checkUserIdInList(eventItem.participants)"
            (click)="signOutFromEvent()" class="btn btn-primary">
            Sign out
          </button>
          <a *ngIf="!authService.loggedIn()"[routerLink]="['/register']"
             class="btn btn-primary">
            Log in or register to sign in
          </a>
          <button class="btn btn-warning event-participants"><fa-icon class="fa-lg" icon="user-friends"></fa-icon>Participants: {{ eventItem.participants.length }}</button>
          <div
            class="event-likes"
            [ngClass]="{'event-clicked': checkUserIdInList(eventItem.likesUserList)}"
            (click)="!checkUserIdInList(eventItem.likesUserList) ? likeEvent() : resetLikeEvent()">
            <fa-icon class="fa-lg event-likes-icon" icon="thumbs-up" [ngClass]="{'click-event-enabled': !checkUserIdInList(eventItem.dislikesUserList)}"></fa-icon>
            <p class="events-likes-number">{{ eventItem.likesUserList.length }}</p>
          </div>
          <div
            class="event-dislikes"
            [ngClass]="{'event-clicked': checkUserIdInList(eventItem.dislikesUserList)}"
            (click)="!checkUserIdInList(eventItem.dislikesUserList) ? dislikeEvent() : resetDislikeEvent()">
            <fa-icon class="fa-lg event-likes-icon" icon="thumbs-down" [ngClass]="{'click-event-enabled': !checkUserIdInList(eventItem.likesUserList)}"></fa-icon>
            <p class="events-likes-number">{{ eventItem.dislikesUserList.length }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

