<div class="row">
  <div class="col-lg-8">
    <div class="card {{ 'event-' + eventItem._id }}">
      <img src="{{ 'http://localhost:3000/' + eventItem.eventImage }}" class="card-img-top" alt="{{ eventItem.name }}"/>
      <div class="card-body">
        <h4 class="card-title">{{ eventItem.name }}</h4>
        <h6>{{ 'event date: ' + formatDate(eventItem.eventDate) }}</h6>
        <h6>{{ 'event organiser: ' + eventItem.owner.username }}</h6>
        <p class="card-text">{{eventItem.description}}</p>
        <hr>
        <div class="manage-event-options">
          <div *ngIf="authService.loggedIn()"><a href="#" class="btn btn-primary">Sign in</a></div>
          <div *ngIf="!authService.loggedIn()"><a [routerLink]="['/register']" class="btn btn-primary">Log in or register to sign in for event</a></div>
          <fa-icon class="fa-lg event-likes-icon" icon="thumbs-up"></fa-icon><p class="events-likes-number">{{ eventItem.likesUserList.length}}</p>
          <fa-icon class="fa-lg event-likes-icon" icon="thumbs-down"></fa-icon><p class="events-likes-number">{{ eventItem.dislikesUserList.length}}</p>
          <div class="event-participants"><fa-icon class="fa-lg" icon="user-friends"></fa-icon><p>Participants: {{ eventItem.participants.length}}</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
