.event-item {
  margin-bottom: 30px;
}

.manage-event-options {
  display: inline-flex;
}

@media (max-width: 450px){
  .manage-event-options {
    display: block;
  }
  .manage-event-options button, a {
    width: 100%;
  }
}

.event-likes-icon {
  margin: 10px;
}

.events-likes-number {
  margin-top: 10px;
}

.event-likes, .event-dislikes {
  display: inline-flex;
}

.event-clicked {
  color: #007bff;
}

.click-event-enabled {
  cursor: pointer;
}




